<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Reward System</title>

    <!-- Bootstrap Css -->
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Content/Css/login.css" rel="stylesheet" />

</head>
<body>
    @RenderBody()
</body>
</html>
