
@{
    Layout = "~/Views/Shared/_NavBar.cshtml";
    ViewBag.Title = "Home";
}

<div class="in">
    <div class="text text-white">
        <h1>BRINGS YOU THE BEST <br> PLATFORM FOR <br> STUDENTS</h1>
        <p>
            Impiled
            A task and reward system, where students can learn, enjoy and help each other improve in Academics by completing tasks and missions. It is where students can be a good samaratin to their fellow brethren. Socially, Physically, Mentally and Morally.</p>
            <button>Learn More</button>
</div>
    <div class="img text-white">
    </div>
</div>

@section down{
<script>
    function Read() {
        hidePreloader();
    }
</script>    
}
