
@{
    Layout = "~/Views/Shared/_NavBar.cshtml";
    ViewBag.Title = "Meet The Team";
}
<div class="title">
    <h1>Meet The Team </h1>
    <p>These are the people who made this application and website successful and functional .</p>
</div>

<section>
    <div class="container3">
        <!-- <h1 class="heading">IMPILED TEAM</h1> -->
        <!--FIRST-->
        <div class="card-wrapper">
            <div class="card">

                <img src="~/Content/Img/website.png" alt="card background" class="card-img" />
                <img src="~/Content/Img/jolou.jpg"  alt="profile" class="profile-pic" />
                <h1>Paul Jolou Barrientos</h1>
                <p class="position">LEAD DEVELOPER</p>
                <p class="Job-descrip"> This is one of the people who spearheaded and developed the application and website.</p>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>

            <!--SECOND-->
            <div class="card-wrapper">
                <div class="card">
                    <img src="~/Content/Img/website.png" alt="card background" class="card-img" />
                    <img src="~/Content/Img/nic.jpg"  alt="profile" class="profile-pic" />
                    <h1>Patricia Nicole Grimaldo</h1>
                    <p class="position">WEB DEVELOPER</p>
                    <p class="Job-descrip"> She developed and designed the fully functional website.</p>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

                <!--THIRD-->
                <div class="card-wrapper">
                    <div class="card">
                        <img src="~/Content/Img/website.png" alt="card background" class="card-img" />
                        <img src="~/Content/Img/dan.jpg" alt="profile" class="profile-pic" />
                        <h1>Ma. Daniella Ielex Quilla</h1>
                        <p class="position">ASSISTANT DEVELOPER</p>
                        <p class="Job-descrip"> She assisted in developing both the website and applications.</p>
                        <ul class="social-media">
                            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>

                    <!--FOURTH-->
                    <div class="card-wrapper">
                        <div class="card">
                            <img src="~/Content/Img/website.png" alt="card background" class="card-img" />
                            <img src="~/Content/Img/keiron.jpg" alt="profile" class="profile-pic" />
                            <h1>Keiron Jett Zamora</h1>
                            <p class="position">CONTENT PRODUCER</p>
                            <p class="Job-descrip"> He is the one who helped in ensuring both applications and website are in the best looks. </p>
                            <ul class="social-media">
                                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
</section>

@section down {
<script>
    function Read() {
        hidePreloader();
    }
</script>    
}