
@{
    Layout = "~/Views/Shared/_NavBar.cshtml";
    ViewBag.Title = "Support Us";
}


<div class="sup">
    <div class="sup-text">
        <h1>Support Our Project</h1>
        <p> We are open for suggestions.  It is for the better improvement of both application and website.</p>
    </div>
    <form>


        <input type="text" class="form-control" placeholder="Type your Full name">

        <br>

        <input type="number" class="form-control" placeholder="Type your Age">

        <br>
        <button class="btn btn-white"><i class="fa fa-gift"></i>Get A Reward</button>
    </form>
</div>


@section down {
<script>

    function Read() {
        hidePreloader();
    }

</script>    
}
